In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans, AgglomerativeClustering
from sklearn.decomposition import PCA
import googlemaps
from datetime import datetime

In [2]:
df1 = pd.read_csv('CMShospital.csv')

In [3]:
# 
gmaps = googlemaps.Client(key='AIzaSyCejRRc9OZq1slvtfsjZsbV69O3NXlD06A')
failed = 0

lats = {}
longs = {}

for index in df1.index: 
    addr = str(df1["Address"][index]) + "," + str(df1["City"][index]) + "," + str(df1["ZIP Code"][index]) + "," + str(df1["State"][index])
    geocode_result = gmaps.geocode(addr)
    #print(len(geocode_result))
    if len(geocode_result) > 0:
        lats[index] = geocode_result[0]["geometry"]["location"]["lat"]
        longs[index] = geocode_result[0]["geometry"]["location"]["lng"]
    else: 
        lats[index] = -1
        longs[index] = -1
        failed += 1
        
df1.insert(0,"lat",lats)
df1.insert(0,"long", longs)

In [4]:
df2 = pd.read_csv('DHShospitals.csv')
result = df1.merge(df2,left_on = ['Address','City', 'State', 'ZIP Code', 'Facility Name'], right_on = ['ADDRESS', 'CITY', 'STATE', 'ZIP', "NAME"], how='left')
result

,long,lat,Facility ID,Facility Name,Address,City,State,ZIP Code,County Name,Phone Number,...,VAL_DATE,WEBSITE,STATE_ID,ALT_NAME,ST_FIPS,OWNER,TTL_STAFF,BEDS,TRAUMA,HELIPAD
0,0,0,010001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,(334) 793-8701,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1,010005,MARSHALL MEDICAL CENTERS,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,MARSHALL,(256) 593-8310,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,2,010006,NORTH ALABAMA MEDICAL CENTER,1701 VETERANS DRIVE,FLORENCE,AL,35630,LAUDERDALE,(256) 768-8400,...,2022/04/01 00:00:00+00,NOT AVAILABLE,H3902,NOT AVAILABLE,1.0,PROPRIETARY,-999.0,263.0,LEVEL III,Y
3,3,3,010007,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,COVINGTON,(334) 493-3541,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,4,010008,CRENSHAW COMMUNITY HOSPITAL,101 HOSPITAL CIRCLE,LUVERNE,AL,36049,CRENSHAW,(334) 335-3374,...,2014/02/10 00:00:00+00,NOT AVAILABLE,H2101,NOT AVAILABLE,1.0,GOVERNMENT - DISTRICT/AUTHORITY,-999.0,65.0,NOT AVAILABLE,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5330,5312,5312,670285,KINGWOOD EMERGENCY HOSPITAL,23330 HIGHWAY 59 N,KINGWOOD,TX,77339,HARRIS,(832) 777-6165,...,2022/04/01 00:00:00+00,NOT AVAILABLE,100416,NOT AVAILABLE,48.0,PROPRIETARY,-999.0,6.0,NOT AVAILABLE,N
5331,5313,5313,670300,METHODIST MIDLOTHIAN MEDICAL CENTER,1201 E HIGHWAY 287,MIDLOTHIAN,TX,76065,ELLIS,(469) 846-2000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5332,5314,5314,670309,TEXAS HEALTH HOSPITAL MANSFIELD,2300 LONE STAR ROAD,MANSFIELD,TX,76063,TARRANT,(682) 341-5000,...,2022/03/02 00:00:00+00,NOT AVAILABLE,100524,NOT AVAILABLE,48.0,NON-PROFIT,-999.0,59.0,NOT AVAILABLE,Y
5333,5315,5315,670310,SE TEXAS ER & HOSPITAL,19211 MCKAY BLVD,HUMBLE,TX,77338,HARRIS,(704) 887-7283,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5334,5316,5316,670314,ST MICHAELS MEDICAL HOSPITAL LLC,"16000 SOUTHWEST FREEWAY, SUITE 100",SUGAR LAND,TX,77479,FORT BEND,(281) 980-4357,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
result = result[["long", "lat","Facility ID", "Facility Name", "Address", "City", "State", "ZIP Code", "County Name", "BEDS"]]
result['BEDS'] = result['BEDS'].fillna(150)
result['numPeople'] = result['BEDS'] * 500
result

C:\Users\mayak\AppData\Local\Temp\ipykernel_4496\3938140038.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['BEDS'] = result['BEDS'].fillna(150)
C:\Users\mayak\AppData\Local\Temp\ipykernel_4496\3938140038.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['numPeople'] = result['BEDS'] * 500

,long,lat,Facility ID,Facility Name,Address,City,State,ZIP Code,County Name,BEDS,numPeople
0,0,0,010001,SOUTHEAST HEALTH MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,HOUSTON,150.0,75000.0
1,1,1,010005,MARSHALL MEDICAL CENTERS,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957,MARSHALL,150.0,75000.0
2,2,2,010006,NORTH ALABAMA MEDICAL CENTER,1701 VETERANS DRIVE,FLORENCE,AL,35630,LAUDERDALE,263.0,131500.0
3,3,3,010007,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467,COVINGTON,150.0,75000.0
4,4,4,010008,CRENSHAW COMMUNITY HOSPITAL,101 HOSPITAL CIRCLE,LUVERNE,AL,36049,CRENSHAW,65.0,32500.0
...,...,...,...,...,...,...,...,...,...,...,...
5330,5312,5312,670285,KINGWOOD EMERGENCY HOSPITAL,23330 HIGHWAY 59 N,KINGWOOD,TX,77339,HARRIS,6.0,3000.0
5331,5313,5313,670300,METHODIST MIDLOTHIAN MEDICAL CENTER,1201 E HIGHWAY 287,MIDLOTHIAN,TX,76065,ELLIS,150.0,75000.0
5332,5314,5314,670309,TEXAS HEALTH HOSPITAL MANSFIELD,2300 LONE STAR ROAD,MANSFIELD,TX,76063,TARRANT,59.0,29500.0
5333,5315,5315,670310,SE TEXAS ER & HOSPITAL,19211 MCKAY BLVD,HUMBLE,TX,77338,HARRIS,150.0,75000.0
5334,5316,5316,670314,ST MICHAELS MEDICAL HOSPITAL LLC,"16000 SOUTHWEST FREEWAY, SUITE 100",SUGAR LAND,TX,77479,FORT BEND,150.0,75000.0

In [6]:
result.to_csv('allHospitals.csv')

In [14]:
df2 = pd.read_csv('cityPopulations.csv')
df2 = df2[['City', 'State', 'Population']]

failed = 0

lats2 = {}
longs2 = {}

for index in df2.index:
    addr = str(df2["City"][index]) + "," + str(df2["State"][index])
    #print(geocode_result)
    geocode_result = gmaps.geocode(addr)
    #print(len(geocode_result))
    if len(geocode_result) > 0:
        lats2[index] = geocode_result[0]["geometry"]["location"]["lat"]
        longs2[index] = geocode_result[0]["geometry"]["location"]["lng"]
    else: 
        lats2[index] = -1
        longs2[index] = -1
        failed += 1
        

df2

        long    lat             City    State  Population
0          0      0   Abbeville city  Alabama        2379
1          1      1  Adamsville city  Alabama        4294
2          2      2     Addison town  Alabama         668
3          3      3       Akron town  Alabama         226
4          4      4   Alabaster city  Alabama       33676
...      ...    ...              ...      ...         ...
19489  19489  19489   Wamsutter town  Wyoming         200
19490  19490  19490   Wheatland town  Wyoming        3597
19491  19491  19491     Worland city  Wyoming        4787
19492  19492  19492      Wright town  Wyoming        1619
19493  19493  19493       Yoder town  Wyoming         133

[19494 rows x 5 columns]

In [18]:
df2.insert(0, "lats2", lats2.values())

ValueError: cannot insert lats2, already exists

In [22]:
df2.insert(0, "long2", longs2.values())

ValueError: cannot insert long2, already exists

In [23]:
df2

,long2,lats2,long,lat,City,State,Population
0,-85.250489,31.571835,0,0,Abbeville city,Alabama,2379
1,-86.956106,33.600939,1,1,Adamsville city,Alabama,4294
2,-87.181401,34.202324,2,2,Addison town,Alabama,668
3,-87.742510,32.876517,3,3,Akron town,Alabama,226
4,-86.816377,33.244281,4,4,Alabaster city,Alabama,33676
...,...,...,...,...,...,...,...
19489,-107.979249,41.673014,19489,19489,Wamsutter town,Wyoming,200
19490,-104.952750,42.054414,19490,19490,Wheatland town,Wyoming,3597
19491,-107.955372,44.016901,19491,19491,Worland city,Wyoming,4787
19492,-105.491334,43.751883,19492,19492,Wright town,Wyoming,1619
19493,-104.295788,41.916912,19493,19493,Yoder town,Wyoming,133

In [24]:
df2.to_csv('allCityPopulations.csv')